/*
article.connexion h2 {
    font-size: 2.6rem;
    margin : 30px;
}

article.connexion fieldset {
    width: 20%;
    margin: auto auto 80px;
    background-color: dimgray;
    text-align: center;
    padding: 20px;
}

article.connexion input {
    margin : 15px;
}*/
