header, footer {
    font-family: 'MedievalSharp', cursive;
}

body {
    background-color: #FEFEE2;
}

main {
    font-family: 'Roboto', cursive;
    margin: auto;
}

h1, h2, h3 {
    font-family: 'Irish Grover', cursive !important;
}

h3 {
    font-size: 3rem;
}



/*GLOBAL */
.bouton {
    /*background: linear-gradient(to bottom, rgba(255,0,0,1) 20%,rgba(239,141,49,1) 64%,rgba(239,141,49,1) 68%);*/
    background: linear-gradient(45deg, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%);
    border: 2px solid black;
    padding: 10px 30px;
    display: inline-block;
    margin: 0 auto 30px;
}
.bouton a {
    color : black;
    font-weight: bold;
}

#article:first-child {

}

#article:first-child img {
    display: inline-block !important;
}



/* HEADER */
nav {
    background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(14,14,14,1) 100%);
    border-radius: 0 0 3px 3px;
}

nav a {
    color: green;
}

#bg {
    height: 600px;
    width: 100%;
    background: url("../images/vorchestra.jpg") top left;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'MedievalSharp', cursive;
}


#bg .container {
    background-color: rgba(245, 245, 251, 0.1);
    padding: 20px;
    position: relative;
    top: 50%;
    width : 17%;
    left: 20%;
    font-style: italic;
}

#bg .container a {
    color: #C9C9C9;
}

.effet {
    border-left: 2px solid #C9C9C9;
    border-right: 2px solid #C9C9C9;
}

/*header nav i.fa {
    display: block;
    text-align: center;
    color: #FF6347;
} */

header #power-off {
  color: red;
}


article#login {
    background: url("../images/bg_login.png") top center no-repeat;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    color: orange;
    font-size: 1.5rem;
    font-style: italic;
    padding: 40px 0 10px;
    bottom: 0;
}
footer a {
    color: orange;
}
footer .lien {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
    width: 50%;
}
.lien i.fa {
    font-size: 3rem;
}
footer .contact {
    width: 100%;
}

header nav a:hover::before {
    background : url("../img/hover.png") center no-repeat;
    background-size: cover;
}